<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Fimaster</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Fimaster vai dominar</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Ehttps://www.google.com/url?sa=i&url=https%3A%2F%2Folhardigital.com.br%2F2024%2F01%2F02%2Fciencia-e-espaco%2Fplaneta-terra-nao-e-uma-esfera-perfeita-entenda-o-porque%2F&psig=AOvVaw0T28KDMBdLPkedVE-UexKy&ust=1726678348338000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNDLi564yogDFQAAAAAdAAAAABAXarth_from_space.jpg/1200px-Earth_from_space.jpghttps://images.app.goo.gl/WT4tppjKHSPaNJBA9https://images.app.goo.gl/WT4tppjKHSPaNJBA9" alt="Planeta Terra">
</body>
</html>
