---
const res = await fetch("https://au.appspoupanca.com//wp-json/wp/v2/posts?_fields=author,id,excerpt,title,link");
const posts = await res.json();
---
<h1>Astro + WordPress 🚀</h1>
{
  posts.map((post) => (
      <h2 set:html={post.title.rendered} />
      <p set:html={post.content.rendered} />
  ))
}